

body {
    background: #f7f7f7;
}

.page {
    margin-bottom: 55px;
    overflow:auto!important;
}

.img-loading {
    background-image: url('/images/img-loading.gif');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fafafa;
}

.block {
    height: 20px;
    width: 100%;
}